<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Carbon Emission Dashboard</title>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="../css/style-dash.css">
  <style>
    /** TODO: Push margin more to the right. Make the box centered to the user. **/
    #box-form {
      background-color: #363635;
      margin-top: 20px;
      padding: 40px;
      box-shadow: 5px 10px 20px 0 rgba(0,0,0,0.20);
      border-radius: 20px;
    }

    #box-form h1 {
      text-align: center;
      color: white;
    }

    #box-form label {
      color: white;
    }

  </style>
</head>
<body>
  <!-- side nav -->
  <div class="container u-pull-left" id="sidebar">
    <div class="twelve column bar">
      <strong><p style="text-align: center; margin: 0px;">Carbon Emission Dashboard</p></strong>
    </div>

    <div class="twelve column bar">
      <span><strong>Current User:</strong></span>
      <p>Systems Administrator</p>
    </div>
    <div class="twelve column bar">
      <span><strong>Home</strong></span>
      <ul>
        <li>Dashboard</li>
        <ul>
          <li><a href="dashboard.html">View Dashboard</a></li>
        </ul>
      </ul>
    </div>
    <div class="twelve column bar">
      <span><strong>Account Management</strong></span>
      <ul>
        <li>User Accounts</li>
        <ul>
          <li><a href="user-view.html">View Users</a></li>
          <li><a href="user-add.html">Create New User Account</a></li>
          <li><a href="user-editinfo.html">Edit User Account Information</a></li>
          <li><a href="user-editcreds.html">Edit User Account Credentials</a></li>
        </ul>
      </ul>
    </div>
    <div class="twelve column bar">
      <span><strong>Campus Information Management</strong></span>
      <ul>
        <li>Campuses/Institutes</li>
        <ul>
          <li><a href="campus-view.html">View Campuses/Institutes</a></li>
          <li><a href="campus-add.html">Add New Campus/Institute</a></li>
          <li><a href="campus-editinfo.html">Edit Campus/Institute Info</a></li>
        </ul>
        <li>Department/Offices</li>
        <ul>
          <li><a href="department-view.html">View Departments/Offices</a></li>
          <li><a href="department-add.html">Add New Department/Offices</a></li>
          <li><a href="department-editinfo.html">Edit Department/Offices Info</a></li>          
        </ul>
        <li>Vehicles</li>
        <ul>
          <li><a href="vehicle-view.html">View Vehicles</a></li>
          <li><a href="vehicle-add.html">Add New Vehicle</a></li>
          <li><a href="vehicle-decommission.html">Decommission Vehicle</a></li>
        </ul>
      </ul>
    </div>
  </div>
  <!-- side nav -->
  <!-- main content -->
  <div class="container" id="main-content">
    <div class="seven columns" id="box-form">
      <!-- TODO: Process add-campus logic after submitting form. -->
      <h1>Edit Campus/Institute Info</h1>    
      <form action="/add-campus">
        <label>
          <label>Campus or Institute?</label>
          <input type="radio" name="ci-type" id="type-campus" value="Campus">
          <span class="label-body">Campus</span>
          <br>
          <input type="radio" name="ci-type" id="type-institute" value="Institute">
          <span class="label-body">Institute</span>
        </label>
        <div class="twelve columns">
          <label for="ci-name">Campus/Institute Name</label>
          <input class="u-full-width" type="text" name="ci-name" id="ci-name" placeholder="La Salle Greenhills">
        </div>
        <div class="twelve columns">
          <label for="ci-location">Location</label>
          <input class="u-full-width" type="text" name="ci-location" id="email" placeholder="GH pare">
        </div>
        <input class="button-primary u-pull-right" type="submit" value="Edit Campus/Institute Info">
      </form>
    </div>
  </div>
  <!-- main content -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
<script src="../js/dashboard-trips.js"></script>
  
</script>
</html>