<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Carbon Emission Dashboard</title>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="../css/style-dash.css">
  <style>
    #trips-overview-div {
      margin-top: 30px;
      background: #363635;
      box-shadow: 5px 10px 20px 0 rgba(0,0,0,0.20);  
    }
  </style>
</head>
<body>
  <!-- side nav -->
  <div class="container u-pull-left" id="sidebar">
    <div class="twelve column bar">
      <strong><p style="text-align: center; margin: 0px;">Carbon Emission Dashboard</p></strong>
    </div>

    <div class="twelve column bar" style="padding-top: 0px; ">
      <img src="../images/favicon.png" alt="Icon"><a href="#">Systems Administrator</a>
    </div>
    <div class="twelve column bar">
      <span><strong>Account Management</strong></span>
      <ul>
        <li>User Accounts</li>
        <ul>
          <li><a href="user-view.html">View Users</a></li>
          <li><a href="user-add.html">Create New User Account</a></li>
          <li><a href="user-editinfo.html">Edit User Account Information</a></li>
          <li><a href="user-editcreds.html">Edit User Account Credentials</a></li>
        </ul>
      </ul>
    </div>
    <div class="twelve column bar">
      <span><strong>Campus Information Management</strong></span>
      <ul>
        <li>Campuses/Institutes</li>
        <ul>
          <li><a href="campus-view.html">View Campuses/Institutes</a></li>
          <li><a href="campus-add.html">Add New Campus/Institute</a></li>
        </ul>
        <li>Department/Offices</li>
        <ul>
          <li><a href="department-view.html">View Departments/Offices</a></li>
          <li><a href="department-add.html">Add New Department/Offices</a></li>
        </ul>
        <li>Vehicles</li>
        <ul>
          <li><a href="vehicle-view.html">View Vehicles</a></li>
          <li><a href="vehicle-add.html">Add New Vehicle</a></li>
          <li><a href="vehicle-decommission.html">Decommission Vehicle</a></li>
        </ul>
      </ul>
    </div>
  </div>
  <!-- side nav -->
  <!-- main content -->
  <div class="container" id="main-content">
    <div class="row">
      <div class="seven column" id="trips-overview-div">
        <canvas id="trips-overview"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="seven column">
      </div>
    </div>
  </div>
  <!-- main content -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
<script src="../js/dashboard-trips.js"></script>
  
</script>
</html>