<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Carbon Emission Dashboard</title>
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="../css/style-dash.css">
  <style>
    #trips-overview-div {
      margin-top: 30px;
      background: #363635;
      box-shadow: 5px 10px 20px 0 rgba(0,0,0,0.20);  
    }
  </style>
</head>
<body>
  <!-- side nav -->
  <div class="container u-pull-left" id="sidebar">
    <div class="twelve column bar">
      <img src="../images/favicon.png" alt="Icon"><a href="#">Systems Administrator</a>
    </div>
    <div class="twelve column bar">
      <span>User Account Management</span>
      <ul>
        <li><a href="user-add.html">Add User</a></li>
        <li><a href="user-edit.html">Edit User</a></li>
      </ul>
    </div>
    <div class="twelve column bar">
      <span>Campus Information Management</span>
      <ul>
        <li><a href="#">Add Campus/Institute</a></li>
        <li><a href="#">Add Department</a></li>
        <li><a href="#">Add Vehicle</a></li>
        <li><a href="#">Decommission Vehicle</a></li>
      </ul>
    </div>
    
  </div>
  <!-- side nav -->
  <!-- main content -->
  <div class="container" id="main-content">
    <div class="row">
      <div class="seven column" id="trips-overview-div">
        <canvas id="trips-overview"></canvas>
      </div>
    </div>
    <div class="row">
      <div class="seven column">
      </div>
    </div>
  </div>
  <!-- main content -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
<script src="../js/dashboard-trips.js"></script>
  
</script>
</html>