<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Carbon Emission Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="../css/style-dash.css">
  <style>
    /** TODO: Push margin more to the right. Make the box centered to the user. **/
    #box-form {
      background-color: #363635;
      margin-top: 20px;
      padding: 40px;
      border-radius: 10px;
    }

    #box-form h1 {
      text-align: center;
      color: white;
    }

    #box-form table {
      color: white;
    }

    #box-form table th {
      text-align: center;
    }
  </style>
</head>
<body>
  <!-- side nav -->
  <div class="container u-pull-left" id="sidebar">
    <div class="twelve column bar">
      <strong><p style="text-align: center; margin: 0px;">Carbon Emission Dashboard</p></strong>
    </div>

    <div class="twelve column bar" style="padding-top: 0px; ">
      <img src="../images/favicon.png" alt="Icon"><a href="#">Systems Administrator</a>
    </div>
    <div class="twelve column bar">
      <span><strong>Account Management</strong></span>
      <ul>
        <li>User Accounts</li>
        <ul>
          <li><a href="user-view.html">View Users</a></li>
          <li><a href="user-add.html">Create New User Account</a></li>
          <li><a href="user-editinfo.html">Edit User Account Information</a></li>
          <li><a href="user-editcreds.html">Edit User Account Credentials</a></li>
        </ul>
      </ul>
    </div>
    <div class="twelve column bar">
      <span><strong>Campus Information Management</strong></span>
      <ul>
        <li>Campuses/Institutes</li>
        <ul>
          <li><a href="campus-view.html">View Campuses/Institutes</a></li>
          <li><a href="campus-add.html">Add New Campus/Institute</a></li>
        </ul>
        <li>Department/Offices</li>
        <ul>
          <li><a href="department-view.html">View Departments/Offices</a></li>
          <li><a href="department-add.html">Add New Department/Offices</a></li>
        </ul>
        <li>Vehicles</li>
        <ul>
          <li><a href="vehicle-view.html">View Vehicles</a></li>
          <li><a href="vehicle-add.html">Add New Vehicle</a></li>
          <li><a href="vehicle-decommission.html">Decommission Vehicle</a></li>
        </ul>
      </ul>
    </div>
  </div>
  <!-- side nav -->

  <!-- main content -->
  <div class="container" id="main-content">
    <div class="twelve columns" id="box-form">
      <h1>View Users</h1>    
      <table class="u-full-width">
        <thead>
          <tr>
            <th>User Type</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>E-mail</th>
            <th>Account Status</th>
            <th>Account Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Systems Administrator</td>
            <td>Richard</td>
            <td>Parayno</td>
            <td>richard.parayno</td>
            <td>richard_parayno@dlsu.edu.ph</td>
            <td>Active</td>
            <td style="text-align: center;">
              <a href="user-editinfo.html" >View User Info</a> 
              <br>
              <a href="user-editinfo.html">Edit User Account Info</a>
              <br>
              <a href="user-editcreds.html">Update User Account Credentials</a>
            </td>
          </tr>
        </tbody>
        <!-- action shortcuts -->
        <span>Shortcuts: </span>
        <a href="user-add.html">Create User Account</a>
        <!-- action shortcuts -->              
      </table>
    </div>
  </div>
  <!-- main content -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>

  
</script>
</html>